/* MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
    /* color: #3D3D3D; */
}



#body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper {
    margin: 3rem;
    flex: .7;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a :hover {
    filter: opacity(50%);
}

p {
    max-width: 900px;
    text-align: center;
    font-size: 20px;
    line-height: 165%;
    font-family:
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3D3D3D;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    padding: 1rem 0 1rem 0;
    margin: 0;
    text-align: center;
    max-width: 1000px;
}

p, ol {
    font-family: 'Montserrat', sans-serif;
    color: #3D3D3D;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    max-width: 1000px;
    font-size: 90px;
    margin: 0;
    padding:2rem 0 0 0;
    text-align: center;
}

#title2 {
    font-size: 50px;
    margin: 0;
    padding:0rem 0 0 0;
    text-align: center;
}


/* SECTIONS */

#topArtists {
    display: none;
}

#myFaves {
    display: none;
}

#trackSearch {
    display: none;
}

#end {
    display: none;
}


/* // BUTTONS  ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button {
    padding: 10px 13px 10px 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin: 1.6rem;
}

button:hover {
    box-shadow: 4px 4px  rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px  rgba(0,0,0,1);
    -webkit-box-shadow: 4px 4px  rgba(0,0,0,1);
    -o-box-shadow: 4px 4px  rgba(0,0,0,1);
    cursor: pointer;
}

.next {
    /* box-shadow: 3px 3px  rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 3px 3px  rgba(0,0,0,0.6);
    -o-box-shadow: 3px 3px  rgba(0,0,0,0.6); */
    letter-spacing: 1.5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px  rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px  rgba(0,0,0,1);
    -webkit-box-shadow: 2px 2px  rgba(0,0,0,1);
    -o-box-shadow: 2px 2px  rgba(0,0,0,1);
    background-color: #A2FBD0;
    /* color: white; */
    font-size: 14px;
}

.back {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
}

.fancyButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.recent {
    display: none;
    font-size: 17px;
    display: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem;
    background-color: rgba(244, 244, 244, 0.84);
    border-radius: 7px;
}

.longterm {
    display: none;
    font-size: 17px;
    display: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1.5rem;
    background-color: rgba(244, 244, 244, 0.84);
    border-radius: 7px;
}

.definitions {
    display: none;
    padding: 0 1rem 1rem 1rem;
}

.def {
    font-size: 14px;
    text-align: left;
}

.showDefinitions {
    padding-top: .5rem;
    display: none;
    font-size: 15px;
    font-weight: 700;
}

.showDefinitions:hover {
    filter: opacity(50%);
    text-decoration: underline;
    cursor: pointer;
}


/* CHARTS */
.toolTip {
position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#faveFeatures {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

#indivAudioFeaturesChart {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

.holdChart {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* RANDOM */

.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -100;
}

/* SECTION CONTENT */

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}


#clickedTrack {
    font-weight: 300;
    font-size: 17px;
    display: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem;
    background-color: rgba(244, 244, 244, 0.84);
    border-radius: 7px;
}

input {
    margin: 1rem 0 0 0;
    width: 300px;
    height: 33px;
}

#results {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* max-height
  : 70vh; */

}

#searchedTrack {
    font-weight: 700;
}
#results li {
    font-family: 'Montserrat', sans-serif;
    color: #3D3D3D;
    text-align: left;
    padding: .5rem;
    font-size: 14px;
}

li:hover {
    cursor: pointer;
    filter: opacity(50%);

}

.footnote {
    font-size: 13px;
}

#error {
    color: rgb(173, 84, 60);
}


.options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* FOOTER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

footer p {
    text-align: left;
    font-size: 15px;
}

/* MEDIA QUERIES  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 800px) {


    #title2 {
        margin-top: 0;
        padding-top: 0;
        font-size: 40px;
        max-width: 700px;

    }

    h2 {
        font-size: 30px;
        max-width: 700px;

    }

    p {
        font-size: 17px;
        max-width: 700px;
    }
}

@media screen and (max-width: 656px) {
    #title {
        font-size: 60px;
        margin-top: 0;
        padding-top: 0;
        max-width: 500px;

    }

    #title2 {
        margin-top: 0;
        padding-top: 0;
        font-size: 35px;
        max-width: 500px;

    }

    h2 {
        font-size: 30px;
        max-width: 500px;

    }

    p {
        font-size: 17px;
        max-width: 500px;
    }

    button {
        padding: 7px 10px 7px 10px;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 550px) {
    #title {
        margin-top: 0;
        padding-top: 0;
        font-size: 50px;
        text-align: center;
    }

    #title2 {
        margin-top: 0;
        padding-top: 0;
        font-size: 40px;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 17px;
        max-width: 400px;
    }

    #clickedTrack {
        padding: .5rem;
    }
}

@media screen and (max-width: 500px) {
    #title {
        margin-top: 0;
        padding-top: 0;
        font-size: 50px;
        text-align: center;
    }

    #title2 {
        margin-top: 0;
        padding-top: 0;
        font-size: 30px;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 17px;
    }

    input {
        width: 200px;
        height: 33px;
    }

    .back {
        font-size: 14px;

    }

    .next {
        font-size: 14px;

    }
}

@media screen and (max-width: 499px) {
    #wrapper {
        margin: 1rem;
    }

    #clickedTrack {
        margin-top: 1rem;
        margin-bottom: 1rem;


    }

    .recent {
        margin-top: 1rem;
    }

    .longterm {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 340px) {
    #title {
        margin-top: 0;
        padding-top: 0;
        font-size: 45px;
        text-align: center;
    }

    #title2 {
        margin-top: 0;
        padding-top: 0;
        font-size: 30px;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 15px;
    }


}
